# Ignore everything by default
*

# Allow all folders (so structure changes are tracked)
!*/

# ---------------------------
# Track only notebooks
# ---------------------------
!**/*.ipynb

# ---------------------------
# Ignore Python files
# ---------------------------
*.py
*.pyc
*.pyo
*.pyd

# ---------------------------
# Ignore environments
# ---------------------------
# Virtualenv
venv/
.venv/
env/
.env/

# Conda environments
conda/
conda-env/
envs/

# Hidden conda/venv files
*.conda
*.yaml
*.yml

# ---------------------------
# Ignore Jupyter junk
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# Ignore IDE settings
# ---------------------------
.vscode/
.idea/
